body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

html, body {
    margin: 0%;
    height: 100%;
}

.container {
    border: 1px solid black;
    height: 400px;
    width: 300px;
}
                            /*display for what's typed in*/
#display {
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 20%;
    margin: 0%;
    padding: 5%;
}

#text {
    margin: 0%;
    border: 1px solid black;
    height: 20%;
    font-size: 30px;
    padding: 20px;
    justify-self: flex-end;
}
                            /*bottom of calculator*/
#bottom {
    display: flex;
    height: 72%;
    border: 1px solid green;
}

.nums {
    border: 1px solid blue;
    height: 100%;
    width:75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.number {
    width: 32%;

}

.operations {
    height:100%;
    width: 25%;
    display: flex;
    flex-wrap: wrap;
}

.op {
    width: 100%;
    background-color: #205b7a;
    color: whitesmoke;
    font-size: 20px;
}

